# .gitignore
# This is a technical file used to blacklist certain files and directories from being tracked in this Git repository.
# It's useful for temporarily excluding files that might cause conflicts or are not needed in the repository, such as incompatible code.
# IMPORTANT: Comments in this file must be placed at the beginning of a line.
# The files listed below are specifically being excluded from this project:

# Removed for crashing:
libsmite-1.0.7d.so
libsmite-1.1.1.so

# Incompatible:
libaw4c.1.4.1.so
libdukun142.so
libsmusic.so

# Possible crash on Android 14
libfpschanger.so

# Blacklist libfun
libfun.so
funny_*.apk